<% flash.each do |type, msg| %>
  <br>
  <div>
    <%= msg %>
  </div>
<% end %>

<% if @user %>
  <h2><%= @user.username%>'s Challenges</h2>
<% else %>
  <h2>Challenges</h2>
  <%= render "search" %>
<% end %>

<% if @challenges.count == 0 %>
  <h6>No challenges found</h6>
  <%= link_to 'All Challenges', challenges_path %>
<% end %>

<ul>
<% @challenges.each do |c| %>
  <div>
  <li>
    <%= link_to c.user.username + ' vs ' + c.challenger.username, challenge_path(c) %>
    <p>Wager: <%= c.wager.name %></p>
    <p>Payment: <%= c.payment.name %></p>
  </div></li> 
  <br><br>
<% end %>
<% if @user %>
  <% @challenges_from_others.each do |c| %>
    <div>
    <li>
      <%= link_to c.user.username + ' vs ' + c.challenger.username, challenge_path(c) %>
      <p>Wager: <%= c.wager.name %></p>
    </div></li> 
    <br><br>
  <% end %>
<% end %>
</ul>