<!DOCTYPE html>
<html>
  <head>
    <title>Betsie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if current_user %>
        <%= link_to "#{current_user.username}'s profile", user_path(current_user) %>
        <%= link_to 'Make a Challenge', new_user_challenge_path(current_user) %>
        <%= link_to 'See Your Challenges', user_challenges_path(current_user) %>
        <%= link_to 'All Challenges', challenges_path %>
        <%= link_to "Log Out", logout_path, method: 'delete' %>
      <% else %>
        <%= link_to "Sign in with Google", '/auth/google_oauth2' %>
        <%= link_to "Sign Up", signup_path %>
        <%= link_to "Log In", login_path %>
        <%= link_to 'All Challenges', challenges_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
